name: CI

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js '12.x'
              uses: actions/setup-node@v1
              with:
                  node-version: '12.x'
            - run: npm install
              working-directory: ./pictts
            - run: npm run lint
              working-directory: ./pictts
              env:
                  CI: true
            - run: npm test
              working-directory: ./pictts
              env:
                  CI: true
            - run: node --prof node_modules/.bin/jest -- benchmark.test.ts
              working-directory: ./pictts
            - run: ls -la isolate* | sort -r -k 5 -h | head -1 | awk '{print $9}' | xargs node --prof-process > processed.txt
              working-directory: ./pictts
            - run: cat processed.txt
              working-directory: ./pictts
