name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js '12.x'
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - run: npm install
        working-directory: ./pictts
      - run: npm run lint
        working-directory: ./pictts
        env:
          CI: true
      - run: npm test
        working-directory: ./pictts
        env:
          CI: true

      - run: node --prof node_modules/.bin/jest -- benchmark2.test.ts
        working-directory: ./pictts
      - run: ls -la isolate* | sort -r -k 5 -h | head -1 | awk '{print $9}' | xargs node --prof-process > processed.txt
        working-directory: ./pictts
      - run: cat processed.txt
        working-directory: ./pictts

      - name: Post benchmark result
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          URL: ${{ github.event.pull_request.comments_url }}
        run: |
          curl -X POST \
              -H "Authorization: token ${GITHUB_TOKEN}" \
              -d "{\"body\": \"$(cat benchmark.txt)\"}" \
              ${URL}
